<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards - FlashcardsApp</title>
    <link rel="stylesheet" href="../static/paneles.css">
    <link rel="stylesheet" href="../static/flashcard-form.css">
    <link rel="stylesheet" href="../static/flashcard-tarjeta.css">
    <link rel="icon" href="../img/capas.png">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css'>
</head>

<body>
    <header>

        <section class="logo">
            <i class="fi fi-sr-layers"></i>
            <h2>FlashcardsApp</h2>
        </section>

        <div class="barra-busqueda">
            <form action="">
                <input type="text" name="buscador" id="buscador" placeholder="Buscar flashcards...">
                <button type="button" class="busqueda"><i class="fi fi-rr-search"></i></button>
            </form>
        </div>

        <section class="opciones">
            <button type="button" class="notificacion"><i class="fi fi-rs-bell"></i></button>
            <button type="button" class="usuario"><i class="fi fi-rr-user"></i> Estudiante</button>
        </section>

    </header>

    <main>
        <aside>
            <section class="boton-principal" onclick="mostrarForm()">
                <button type="button" ><i class="fi fi-br-plus"></i> Flashcard</button>
            </section>

            <section class="boton-secundario">
                <button type="button" onclick="inicio()"><i class="fi fi-rr-home"></i>Inicio</button>
                <button type="button"><i class="fi fi-rr-diary-bookmark-down"></i>Biblioteca personal</button>
                <button type="button"><i class="fi fi-rr-apps"></i>General</button>
                <div class="separador-linea"></div>
                {%for clase in clases%}
                {%if clase_seleccionada.ID_clase == clase.ID_clase%}
                <button type="button" style="background-color: #374355; color: #f5f5f5;" onclick="temas('{{ clase.ID_clase }}')"><i class="fi fi-rr-apps"></i>{{clase.nombre_clase}}</button>
                {%else%}
                <button type="button"onclick="temas('{{ clase.ID_clase }}')"><i class="fi fi-rr-apps"></i>{{clase.nombre_clase}}</button>
                {% endif %}
                {% endfor %}
            </section>
        </aside>

        <section class="panel-principal">
            <nav>
                <a class="link-temas" onclick="temas('{{clase_seleccionada.ID_clase}}')">{{clase_seleccionada.nombre_clase}}</a>
                <p> > </p>
                <a>{{tema_seleccionado.nombre_tema}}</a>
            </nav>

            <section class="panel-contenido">
                {% for flashcard in flashcards %}
                <div class="tarjeta-flashcard" onclick="abrir('{{ flashcard.ID_flashcard }}')">
                    <div class="indice">
                        <p>#{{loop.index}}</p>
                    </div>
                    <div class="pregunta">
                        <p>
                            {{flashcard.pregunta}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </section>

        </section>

    </main>
    <div class="fondo-form" style="display: none;">
        <section class="form-flashcard" style="display: none;">
            <form action="/flashcard/crear" method="POST">
                <div class="encabezado-form">
                    <span>Crear flashcard</span>
                    <i class="fi fi-br-x" onclick="ocultarForm()"></i>
                </div>
                <div class="contenido-form">
                    <label for="pregunta">Pregunta:</label>
                    <textarea name="pregunta" id="pregunta" required></textarea>
    
    
                    <label for="respuesta">Respuesta:</label>
                    <textarea name="respuesta" id="respuesta" required></textarea>
    
                    <button type="submit" onclick="crearFlash()">Crear flashcard</button>
                </div>
            </form>
        </section>
    </div>
    
    {%if mostrar%}
        <div class="fondo">
            <section class="flashcard-principal-respuesta">
                <div class="flashcard-encabezado">
                    <span>Respuesta</span>
                    <div class="opciones">
                        <i class="fi fi-sr-rotate-square" onclick="vuelta()"></i>
                        <i class="fi fi-sr-circle-xmark" onclick="salir()"></i>
                    </div>
                </div>
        
                <div class="flashcard-contenido">
                    <span>{{flashcard_seleccionada.respuesta}}</span>
                </div>
            </section>

            <section class="flashcard-principal-pregunta">
                <div class="flashcard-encabezado">
                    <span>Pregunta</span>
                    <div class="opciones">
                        <i class="fi fi-sr-rotate-square" onclick="vuelta()"></i>
                        <i class="fi fi-sr-circle-xmark" onclick="salir()"></i>
                    </div>
                </div>
        
                <div class="flashcard-contenido">
                    <span>{{flashcard_seleccionada.pregunta}}</span>
                </div>
            </section>
        </div>
    {% endif %}

</body>
<script>
    const fondoSection = document.querySelector('.fondo-form');
    const formSection = document.querySelector('.form-flashcard');
    function temas(idClase) {
    window.location.href = "/temas/" + idClase;
    }

    function abrir(idFlash) {
    window.location.href = "/flashcard/" + idFlash;
   
    }
    function crearFlash() {
    window.location.href = "/flashcard/crear";
    }

    function mostrarForm() {
        fondoSection.style.display = 'block';
        formSection.style.display = 'block'; 
    }
    function ocultarForm() {
        fondoSection.style.display = 'none';
        formSection.style.display = 'none';
    }
    function vuelta() {
        const preguntaSection = document.querySelector('.flashcard-principal-pregunta');
        const respuestaSection = document.querySelector('.flashcard-principal-respuesta');

            if (preguntaSection.style.display === 'none') {
                preguntaSection.style.display = 'block';
                respuestaSection.style.display = 'none';
            } else {
                preguntaSection.style.display = 'none';
                respuestaSection.style.display = 'block';
            }
    }
    function salir() {
    window.history.back();
    }
    function inicio() {
    window.location.href = "/clases";
    }
</script>
</html>