<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards - FlashcardsApp</title>
    <link rel="stylesheet" href="../../static/plantilla.css">
    <link rel="stylesheet" href="../../static/estudiante/e-panel-flashcards.css">
    <link rel="stylesheet" href="../../static/estudiante/form-crear-flashcard.css">
    <link rel="stylesheet" href="../../static/docente/d-tarjeta-flashcard.css">
    <link rel="icon" href="../../static/images/icon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
        @import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
        @import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
        @import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
    </style>
</head>

<body>
    <header>
        <div class="logo" onclick="inicio()">
            <i class="fi fi-sr-layers"></i>
            <span>FlashcardsApp</span>
        </div>

        <div class="barra-busqueda"></div>

        <div class="opciones">
            <button type="button" class="usuario" id="perfil"><i class="fa-regular fa-user"></i>
                <div class="info-usuario">
                    <span class="username">{{logged_user.nombre_usuario}}</span>
                    <span class="rol">Docente</span>
                </div>
            </button>

            <div class="desplegable" id="desplegable">
                <span class="titulo-desplegable">Opciones de sesión</span>
                <button type="button" onclick="cerrar_sesion()">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span>Cerrar sesión</span>
                </button>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <div class="boton-principal">
                <button type="button" onclick="mostrarForm()"><i class="fa-solid fa-plus"></i> Flashcard</button>
            </div>

            <div class="separador"></div>

            <div class="botones-secundarios">

                <button type="button" onclick="inicio()"><i class="fi fi-rr-home"></i> Inicio</button>
                <button type="button"><i class="fi fi-rr-book"></i> Biblioteca personal</button>
                <button type="button" onclick="biblioteca_compartida()"><i class="fi fi-rr-books"></i> Biblioteca compartida</button>
                <button type="button" onclick="alumnos()"><i class="fi fi-rr-users"></i> Alumnos</button>
            </div>

            <div class="separador"></div>

            <div class="botones-clases">
                {%for clase in clases%}
                {%if clase_seleccionada.ID_clase == clase.ID_clase%}
                <button type="button"
                    style="background-color: rgba(38, 38, 38, 0.1); color: #262626; border-left: 3px solid #262626;"
                    onclick="temas('{{ clase.ID_clase }}')"><i class="fi fi-rr-chalkboard-user"></i>
                    {{clase.nombre_clase}}</button>
                {%else%}
                <button type="button" onclick="temas('{{ clase.ID_clase }}')"><i
                        class="fi fi-rr-chalkboard-user"></i>{{clase.nombre_clase}}</button>
                {% endif %}
                {% endfor %}
            </div>
        </aside>
        <section class="panel-principal">
            <nav>
                <div class="navbar">
                    <a onclick="inicio()">Clases</a>
                    <p> > </p>
                    <a class="link-temas"
                        onclick="temas('{{clase_seleccionada.ID_clase}}')">{{clase_seleccionada.nombre_clase}}</a>
                    <p> > </p>
                    <a>{{tema_seleccionado.nombre_tema}}</a>
                </div>
                
            </nav>
            <div class="contenido-principal">

                {% for flashcard in flashcards %}
                <div class="tarjeta-flashcard" onclick="abrir('{{ flashcard.ID_flashcard }}')">
                    <div class="indice">
                        <p>#{{loop.index}}</p>
                        {%if flashcard.estado == 'privado'%}
                        <div class="indicador-estado" style="background-color: #CA8686;"></div>
                        {%endif%}
                        {%if flashcard.estado == 'revision'%}
                        <div class="indicador-estado" style="background-color: #E0C975;"></div>
                        {%endif%}
                        {%if flashcard.estado == 'compartido'%}
                        <div class="indicador-estado" style="background-color: #86CAA1;"></div>
                        {%endif%}
                    </div>
                    <div class="pregunta">
                        <p>
                            {{flashcard.pregunta}}
                        </p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
    </main>

    <!--
        =============================INICIO - FORM CREAR FLASHCARD=============================
    -->

    <div class="fondo-form" style="display: none;">
        <section class="form-flashcard" style="display: none;">
            <form action="/flashcard/crear" method="POST">
                <div class="encabezado-form">
                    <span>Crear flashcard</span>
                    <i class="fi fi-br-x" onclick="ocultarForm()"></i>
                </div>
                <div class="contenido-form">
                    <label for="pregunta">Pregunta:</label>
                    <textarea name="pregunta" id="pregunta" required></textarea>


                    <label for="respuesta">Respuesta:</label>
                    <textarea name="respuesta" id="respuesta" required></textarea>

                    <button type="submit" onclick="crearFlash()">Crear flashcard</button>
                </div>
            </form>
        </section>
    </div>

    <!--
        =============================FIN - FORM CREAR FLASHCARD=============================
    -->

    <!--
        =============================INICIO - TARJETA FLASHCARD=============================
    -->

    {%if mostrar%}
    <div class="fondo">
        <div class="contenedor-flashcards">
            <!--FLASHCARD LADO RESPUESTA-->
            <section class="flashcard-principal-respuesta">
                <div class="flashcard-encabezado">
                    <span>Respuesta</span>
                    <div class="opciones">
                        <i class="fa-solid fa-rotate" onclick="vuelta()"></i>
                        <i class="fa-solid fa-xmark" onclick="salir('{{ tema_seleccionado.ID_tema }}')"></i>
                    </div>
                </div>

                <div class="flashcard-barra">
                    <div class="barra-dificultad">
                        <span>Dificultad:</span>
                        <button type="button" name="dificultad" id="facil" onclick="seleccionar_dificultad('{{ flashcard_seleccionada.ID_flashcard }}', 'facil')">Fácil</button>
                        <button type="button" name="dificultad" id="medio" onclick="seleccionar_dificultad('{{ flashcard_seleccionada.ID_flashcard }}', 'medio')">Medio</button>
                        <button type="button" name="dificultad" id="dificil" onclick="seleccionar_dificultad('{{ flashcard_seleccionada.ID_flashcard }}', 'dificil')">Difícil</button>
                    </div>

                    <div class="barra-botones">
                            {%if flashcard_seleccionada.estado == 'privado' %}
                                <button type="button" onclick="enviar_revision('{{ flashcard_seleccionada.ID_flashcard }}')"><i class="fa-solid fa-arrow-up-from-bracket"></i>Compartir</button>
                            {%endif%}
                            {%if flashcard_seleccionada.estado == 'compartido' %}
                                <button type="button" onclick="enviar_revision('{{ flashcard_seleccionada.ID_flashcard }}')"><i class="fa-solid fa-arrow-up-from-bracket"></i>Cancelar Compartido</button> 
                            {%endif%}
                    </div>
                </div>

                <div class="flashcard-contenido">
                    <span>{{flashcard_seleccionada.respuesta}}</span>
                </div>
            </section>

            <!--FLASHCARD LADO PREGUNTA-->
            <section class="flashcard-principal-pregunta">
                <div class="flashcard-encabezado">
                    <span>Pregunta</span>
                    <div class="opciones">
                        <i class="fa-solid fa-rotate" onclick="vuelta()"></i>
                        <i class="fa-solid fa-xmark" onclick="salir('{{ tema_seleccionado.ID_tema }}')"></i>
                    </div>
                </div>

                <div class="flashcard-barra">
                    <div class="barra-dificultad">
                        <span>Dificultad:</span>
                        <button type="button" name="dificultad" id="facil" onclick="seleccionar_dificultad('{{ flashcard_seleccionada.ID_flashcard }}', 'facil')">Fácil</button>
                        <button type="button" name="dificultad" id="medio" onclick="seleccionar_dificultad('{{ flashcard_seleccionada.ID_flashcard }}', 'medio')">Medio</button>
                        <button type="button" name="dificultad" id="dificil" onclick="seleccionar_dificultad('{{ flashcard_seleccionada.ID_flashcard }}', 'dificil')">Difícil</button>
                    </div>

                    <div class="barra-botones">
                        {%if flashcard_seleccionada.estado == 'privado' %}
                                <button type="button" onclick="enviar_revision('{{ flashcard_seleccionada.ID_flashcard }}')"><i class="fa-solid fa-arrow-up-from-bracket"></i>Compartir</button>
                        {%endif%}
                        
                        {%if flashcard_seleccionada.estado == 'compartido' %}
                            <button type="button" onclick="enviar_revision('{{ flashcard_seleccionada.ID_flashcard }}')"><i class="fa-solid fa-arrow-up-from-bracket"></i>Cancelar</button> 
                        {%endif%}
                    </div>
                </div>

                <div class="flashcard-contenido">
                    <span>{{flashcard_seleccionada.pregunta}}</span>
                </div>
            </section>
        </div>

        <!--FLASHCARD OPCIONES LATERALES-->
        <section class="flashcard-opciones-laterales">
            
            <div class="opciones-1">
                <div class="dificultad">
                    <span>Dificultad:</span>
                    {%if flashcard_seleccionada.dificultad=='facil'%}
                    <div class="cuadro-dificultad" style="background-color: #86CAA1;">Fácil</div>
                    {%endif%}
                    {%if flashcard_seleccionada.dificultad=='medio'%}
                    <div class="cuadro-dificultad" style="background-color: #E0C975;">Medio</div>
                    {%endif%}
                    {%if flashcard_seleccionada.dificultad=='dificil'%}
                    <div class="cuadro-dificultad" style="background-color: #CA8686;">Difícil</div>
                    {%endif%}
                </div>

                <div class="estado">
                    <span>Estado:</span>
                    <div class="cuadro-estado">
                        {%if flashcard_seleccionada.estado == 'privado'%}
                        <div class="indicador-estado" style="background-color: #CA8686;"></div>
                        Privado
                        {%endif%}
                        {%if flashcard_seleccionada.estado == 'revision'%}
                        <div class="indicador-estado" style="background-color: #E0C975;"></div>
                        En revision
                        {%endif%}
                        {%if flashcard_seleccionada.estado == 'compartido'%}
                        <div class="indicador-estado" style="background-color: #86CAA1;"></div>
                        Compartido
                        {%endif%}
                    </div>
                </div>
            </div>

            <form id="formCalificacion" action="/calificar_flashcard/{{ flashcard_seleccionada.ID_flashcard }}/flash_personal" method="POST">
                <div class="calificacion">
                    <span>Calificación:</span>
                    <div class="estrellas" data-rating="{{ flashcard_seleccionada.calificacion }}">
                        
                        <input type="radio" name="calificacion" id="cal-1" value="1" {% if flashcard_seleccionada.calificacion == 1 %}checked{% endif %}>
                        <label for="cal-1">
                            <i class="fa-solid fa-star" data-value="1" ></i>
                        </label>
                        
                        <input type="radio" name="calificacion" id="cal-2" value="2"  {% if flashcard_seleccionada.calificacion == 2 %}checked{% endif %}>
                        <label for="cal-2">
                            <i class="fa-solid fa-star" data-value="2"></i>
                        </label>

                        <input type="radio" name="calificacion" id="cal-3" value="3"  {% if flashcard_seleccionada.calificacion == 3 %}checked{% endif %}>
                        <label for="cal-3">
                            <i class="fa-solid fa-star" data-value="3"></i>
                        </label>

                        <input type="radio" name="calificacion" id="cal-4" value="4"  {% if flashcard_seleccionada.calificacion == 4 %}checked{% endif %}>
                        <label for="cal-4">
                            <i class="fa-solid fa-star" data-value="4"></i>
                        </label>

                        <input type="radio" name="calificacion" id="cal-5" value="5"  {% if flashcard_seleccionada.calificacion == 5 %}checked{% endif %}>
                        <label for="cal-5">
                            <i class="fa-solid fa-star" data-value="5"></i>
                        </label>
                    </div>
                </div>

                <div class="comentario">
                    <span>Comentario docente:</span>
                    <textarea name="comentario" id="comentario" placeholder="Ingrese un comentario">{{flashcard_seleccionada.comentario}}</textarea>
                </div>

                <button type="submit">Enviar revisión</button>
            </form>

        </section>
    </div>
    {% endif %}

    <!--
        =============================FIN - TARJETA FLASHCARD=============================
    -->

</body>

<script>

    const fondoSection = document.querySelector('.fondo-form');
    const formSection = document.querySelector('.form-flashcard');
    
    function temas(idClase) {
        window.location.href = "/temas/" + idClase;
    }

    function abrir(idFlash) {
        window.location.href = "/flashcard/" + idFlash;

    }
    function crearFlash() {
        window.location.href = "/flashcard/crear";
    }

    function enviar_revision(idFlash) {
        window.location.href = "/enviar_revision/" + idFlash;
    }
    
    function biblioteca_compartida() {
        window.location.href = "/biblioteca_compartida";
    }

    function mostrarForm() {
        fondoSection.style.display = 'block';
        formSection.style.display = 'block';
    }
    function ocultarForm() {
        fondoSection.style.display = 'none';
        formSection.style.display = 'none';
    }
    function vuelta() {
        const preguntaSection = document.querySelector('.flashcard-principal-pregunta');
        const respuestaSection = document.querySelector('.flashcard-principal-respuesta');

        if (preguntaSection.style.display === 'none') {
            preguntaSection.style.display = 'block';
            respuestaSection.style.display = 'none';
        } else {
            preguntaSection.style.display = 'none';
            respuestaSection.style.display = 'block';
        }
    }
    function salir(idTema) {
        window.location.href = "/flash/" + idTema;
    }

    function cerrar_sesion() {
        window.location.href = "/cerrar_sesion";
    }
    function inicio() {
        window.location.href = "/clases";
    }
    function alumnos() {
        window.location.href = "/lista_estudiantes";
    }
    function seleccionar_dificultad(idFlash, dificultad) {
        window.location.href = "/cambiar_dificultad/" + "/" + idFlash + "/" + dificultad;  
    }
    /*DESPLEGAR EL BOTON DE CERRAR SESION*/
    document.addEventListener("DOMContentLoaded", function () {
        const profileButton = document.getElementById("perfil");
        const profileDropdown = document.getElementById("desplegable");

        profileButton.addEventListener("click", function () {
            if (profileDropdown.classList.contains("show")) {
                profileDropdown.classList.remove("show");
            } else {
                profileDropdown.classList.add("show");
            }
        });

        // Close dropdown if clicked outside
        document.addEventListener("click", function (event) {
            if (!profileButton.contains(event.target) && !profileDropdown.contains(event.target)) {
                profileDropdown.classList.remove("show");
            }
        });
    });

    //FUNCION DE ESTRELLAS, CALIFICAR FLASHCARD
    document.addEventListener('DOMContentLoaded', () => {
        const stars = document.querySelectorAll('.estrellas .fa-star');
        const rating = document.querySelector('.estrellas').getAttribute('data-rating');
        
        if (rating){
            setRating(rating);
        }
        
        stars.forEach(star => {
            star.addEventListener('mouseover', handleMouseOver);
            star.addEventListener('mouseout', handleMouseOut);
            star.addEventListener('click', handleClick);
        });

        function handleMouseOver(event) {
            const value = event.target.getAttribute('data-value');
            highlightStars(value);
        }

        function handleMouseOut() {
            clearStars();
            const selectedStar = document.querySelector('.estrellas .fa-star.selected');
            if (selectedStar) {
                highlightStars(selectedStar.getAttribute('data-value'));
            }
        }

        function handleClick(event) {
            const value = event.target.getAttribute('data-value');
            setRating(value);
        }

        function highlightStars(value) {
            stars.forEach(star => {
                if (star.getAttribute('data-value') <= value) {
                    star.classList.add('highlight');
                } else {
                    star.classList.remove('highlight');
                }
            });
        }

        function clearStars() {
            stars.forEach(star => {
                star.classList.remove('highlight');
            });
        }

        function setRating(value) {
            stars.forEach(star => {
                star.classList.remove('selected');
                if (star.getAttribute('data-value') <= value) {
                    star.classList.add('selected');
                }
            });
        }
    });


</script>

</html>