<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temas - FlashcardsApp</title>
    <link rel="stylesheet" href="../../static/plantilla.css">
    <link rel="stylesheet" href="../../static/estudiante/e-panel-temas.css">
    <link rel="icon" href="../../static/images/icon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
        @import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
        @import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
        @import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
        @import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css');
    </style>
</head>

<body>
    <header>
        <div class="logo" onclick="inicio()">
            <i class="fi fi-sr-layers"></i>
            <span>FlashcardsApp</span>
        </div>

        <div class="opciones">
            <button type="button" class="usuario" id="perfil"><i class="fa-regular fa-user"></i>
                <div class="info-usuario">
                    <span class="username">{{logged_user.nombre_usuario}}</span>
                    <span class="rol">Estudiante</span>
                </div>
            </button>

            <div class="desplegable" id="desplegable">
                <span class="titulo-desplegable">Opciones de sesión</span>
                <button type="button" onclick="cerrar_sesion()">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span>Cerrar sesión</span>
                </button>
            </div>
        </div>
    </header>

    <main>
        <aside>
            <div class="boton-principal">
                <!--<button type="button" onclick="mostrarForm()"><i class="fa-solid fa-plus"></i> Flashcard</button>-->
            </div>

            <div class="separador"></div>

            <div class="botones-secundarios">

                <button type="button" onclick="inicio()"><i class="fi fi-rr-home"></i> Inicio</button>
                <button type="button"><i class="fi fi-rr-book"></i> Biblioteca personal</button>
                <button type="button" onclick="biblioteca_compartida()"><i class="fi fi-rr-books"></i> Biblioteca compartida</button>
            </div>

            <div class="separador"></div>

            <div class="botones-clases">
                {%for clase in clases%}
                {%if clase_seleccionada.ID_clase == clase.ID_clase%}
                <button type="button"
                    style="background-color: rgba(38, 38, 38, 0.1); color: #262626; border-left: 3px solid #262626;"
                    onclick="temas('{{ clase.ID_clase }}')"><i class="fi fi-rr-chalkboard-user"></i>
                    {{clase.nombre_clase}}</button>
                {%else%}
                <button type="button" onclick="temas('{{ clase.ID_clase }}')"><i
                        class="fi fi-rr-chalkboard-user"></i>{{clase.nombre_clase}}</button>
                {% endif %}
                {% endfor %}
            </div>
        </aside>
        <section class="panel-principal">
            <nav>
                <div class="navbar">
                    <a onclick="inicio()">Clases</a>
                    <p> > </p>
                    <a>{{clase_seleccionada.nombre_clase}}</a>
                </div>

            </nav>

            <div class="contenido-principal">
                <div class="temas">
                    {% for tema in temas %}
                    <div class="cajon-temas">
                        <div class="contenido-temas" onclick="flash('{{ tema.ID_tema }}')">
                            <i class="fi fi-rs-book-alt"></i>
                            <span>{{tema.nombre_tema}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
</body>

<script>
    function temas(idClase) {
        window.location.href = "/temas/" + idClase;
    }
    function flash(idTema) {
        window.location.href = "/flash/" + idTema;
    }
    function inicio() {
        window.location.href = "/clases";
    }
    function cerrar_sesion() {
        window.location.href = "/cerrar_sesion";
    }
    function biblioteca_compartida() {
        window.location.href = "/biblioteca_compartida";
    }

    /*DESPLEGAR EL BOTON DE CERRAR SESION*/
    document.addEventListener("DOMContentLoaded", function () {
        const profileButton = document.getElementById("perfil");
        const profileDropdown = document.getElementById("desplegable");

        profileButton.addEventListener("click", function () {
            if (profileDropdown.classList.contains("show")) {
                profileDropdown.classList.remove("show");
            } else {
                profileDropdown.classList.add("show");
            }
        });

        // Close dropdown if clicked outside
        document.addEventListener("click", function (event) {
            if (!profileButton.contains(event.target) && !profileDropdown.contains(event.target)) {
                profileDropdown.classList.remove("show");
            }
        });
    });

</script>

</html>