main section .contenido-principal {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 30px;
}
.contenido-principal .tarjeta-clase {
    width: 280px;
    height: 170px;
    margin: 0px 30px 30px 0px;
    border-radius: 10px;
    flex-shrink: 0;/*HACE QUE EL DIV NO SE ENCOJA*/
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.contenido-principal .tarjeta-clase .contenido {
    width: 100%;
    height: 110px;
    overflow: hidden;
    cursor: pointer;
}

.contenido-principal .tarjeta-clase .contenido img {
    width: 100%;
    height: auto;
}

.contenido-principal .tarjeta-clase .titulo {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #374355;
}

.contenido-principal .tarjeta-clase .titulo .titulo-clase{
    display: flex;
    width: 230px;
    height: 100%;
    align-items: center;
    padding: 10px 15px;
}

.contenido-principal .tarjeta-clase .titulo .titulo-clase span {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

.contenido-principal .tarjeta-clase .titulo .opciones-clase {
    display: flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contenido-principal .tarjeta-clase .titulo .opciones-clase i {
    display: flex;
    width: 35px;
    height: 35px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.contenido-principal .tarjeta-clase .titulo .opciones-clase i:hover {
    background-color: rgba(0, 0, 0, 0.1);
}